/* General Styles */
.portfolio.section {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 40px;
}

.section__title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.section__subtitle {
  font-size: 1.2rem;
  color: #666;
}

/* Project Filters */
.project-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 10px;
}

.project-filter-item {
  background: #fff;
  color: #333;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border: 1px solid #ccc;
}

.project-filter-item.active,
.project-filter-item:hover {
  color: #fff;
  background-color: #7d7d7d;
}

/* Project Container */
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 0 20px;
}

/* Project Card */
.project-card {
  position: relative;
  width: 100%;
  min-height: 300px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

/* Front Side */
.project-card-front {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Image Section */
.project-img-container {
  aspect-ratio: 16/9;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  /* center items */
  justify-content: center;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Info Section */
.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.project-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 5px;
}

.project-tech-tag {
  font-size: 0.9rem;
  background-color: rgba(100, 104, 104, 0.8);
  color: #fff;
  padding: 2px 7px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.project-tech-tag:hover {
  background-color: rgba(52, 152, 219, 1);
}

.project-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
  max-height: 100px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-link {
  font-size: 1.5rem;
  color: #767879;
  transition: color 0.3s ease, transform 0.3s ease;
}

.project-link:hover {
  color: #5b5d5c;
  transform: scale(1.2);
}

/* Back Side */
.project-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.project-card:hover .project-card-back {
  opacity: 1;
}

/* Responsive Design */
@media (max-width: 480px) {
  .project-description {
    max-height: 80px;
    font-size: 0.85rem;
  }

  .project-technologies {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .project-technologies::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .project-card {
    max-width: 90%;
    margin: 15px auto;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .project-card {
    max-width: 500px;
  }
}

@media (min-width: 1201px) {
  .project-card {
    max-width: 600px;
  }
}
